.glitch {
    position: relative;
  }
  
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #f0f;
    clip: rect(0, 900px, 0, 0);
  }
  
  .glitch:hover::before {
    animation: glitchTop 0.3s infinite linear alternate-reverse;
  }
  
  .glitch:hover::after {
    animation: glitchBottom 0.3s infinite linear alternate-reverse;
  }
  
  @keyframes glitchTop {
    0% {
      clip: rect(0, 9999px, 0, 0);
    }
    50% {
      clip: rect(0, 9999px, 8px, 0);
    }
    100% {
      clip: rect(0, 9999px, 0, 0);
    }
  }
  
  @keyframes glitchBottom {
    0% {
      clip: rect(0, 9999px, 0, 0);
    }
    50% {
      clip: rect(8px, 9999px, 9999px, 0);
    }
    100% {
      clip: rect(0, 9999px, 0, 0);
    }
  }
  